<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/url" method="post">
    <h1>Url shortner</h1>

    <input type="text" name="redirectToOrigine" placeholder="http://example.com">
    <button style="
    background-color: blue; padding: 5px; color: white;
     text-decoration: white;
     cursor: pointer;

    
    ">Generate url</button>
    </form>
</body>
</html>