<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>SignUp</h1>
    <form action="/user/signup" method="post">

        <label for="name">UserName:</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">password:</label>
        <input type="password" id="password" name="password" required>
        <button>SignUp</button>
    </form>
</body>
</html>